<ul class="nav">
  <li class="nav-item">
    <%= link_to "Home", root_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Short Films", pages_shortfilms_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Scenarios", pages_scenarios_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Other Projects", pages_otherprojects_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Contact/CV", pages_contactcv_path, class:"nav-link" %>
  </li>
</ul>