<%# <div class="photos d-flex justify-content-evenly">
  <img class="photo" src="photo1.jpg" alt="">
</div> %>

<!--
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'photo1.jpg', class:"photo" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'photo2.jpg', class:"photo"  %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'photo3.jpg', class:"photo"  %>
    </div>
  </div>
</div>
-->

<div class="carousel-wrapper">
  <div class="carousel-container">
    <div class="carousel">
      <%= image_tag 'photo1.jpg', class:"photo" %>
      <%= image_tag 'photo2.jpg', class:"photo" %>
      <%= image_tag 'photo3.jpg', class:"photo" %>
    </div>
  </div>
</div>
 