<!DOCTYPE html>
<html>
  <head>
    <title>FredPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <div class="name text-center"><h3>FREDERIC SIMCIC</h3></div>

    <div class="title text-center"><p>Film Maker&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Editor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scenarist</p></div>
    
    <div class="navbar d-flex justify-content-around"><%= render "./shared/navbar" %></div>

    <%= yield %>

    <div class="credits text-center">© Frederic Simcic</div>
  </div>
    
  </body>
</html>
