<!DOCTYPE html>
<html>
  <head>
    <title>FredPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="test">
    <div class="container">
    <div class="name text-center"><h3>FREDERIC SEDAIGNE</h3></div>

    <div class="title letter text-center"><p>FILM MAKER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EDITOR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SCENARIST</p></div>
    
    <div class="navbar d-flex justify-content-around"><%= render "./shared/navbar" %></div>

    <%= yield %>

    <div class="credits text-center">© Frederic Simcic</div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    
  </body>
</html>
